.banner-inicial {
  height: 40vw;
  width: 40vw ;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.card-img-top {
  height: 220px;
  object-fit: cover;
}
.bg-danger {
  background-color: red !important;
}
.btn-outline-danger {
  color: red;
}
.btn-outline-danger:hover {
  color: white;
  background-color: red;
}
.nav-link:hover {
  font-weight: 500;
}
.nav-item:hover {
  border-bottom: 2px solid red;
}
.card-h {
  max-height: 220px;
}
