.banner-inicial {
  height: 40vw;
  width: 40vw ;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.card-img-top {
  height: 220px;
  object-fit: cover;
}
.bg-danger {
  background-color: red !important;
}
.btn-outline-danger {
  color: red;
}
.btn-outline-danger:hover {
  color: white;
  background-color: red;
}
.nav-link{
  border-bottom: 2px solid rgb(255, 255, 255);
  color:rgba(0, 0, 0, 0.542);
  font-weight: 400;
  transition: border-bottom 0.2s ease-out;

}
.nav-link:hover {
  color: black; 
  border-bottom: 2px solid red;
}

.card-h {
  max-height: 220px;
}

/*Botones negocios y personas*/
.btn-person{
  /* border-top-left-radius: 15px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 15px; */

  border-radius: 15px 3px 15px 3px;
  transition: font-background-color 0.05s ease-out;
  transform-origin: center; /* por defecto, pero lo aclaramos */
}

.btn-person:hover {
  background-color: #ff0000e8 !important;
  transform: scale(1.05);
}

